.content-section {
  //overflow: auto;
  //max-height: 80vh;

  p {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    text-align: right;
    color: #212121;
    margin: 1rem 0;
  }

}
