.morabehe-page {
  .descriptions {
    .link-box-title {
      text-align: right;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      border-radius: 10px;
      color: white;
      background: #0D47A1;
      padding: 8px 20px;
      margin-top: 25px;
      margin-bottom: 15px;
    }
    p {
      color: #212121;
      text-align: justify;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 28px; /* 175% */
      padding-right: 20px;
      @media screen and (min-width: 960px) {
        padding-right: 40px;
      }
    }
    ul {
      padding-right: 20px;
      @media screen and (min-width: 960px) {
        padding-right: 80px;
      }
      li {
        margin-bottom: 10px;
      }
    }
  }
}
