<div class="accordion-link-list">
  <v-expansion-panels accordion>
    <!-- <v-expansion-panel v-for="(item, index) in linksList" :key="index">
      <v-expansion-panel-header hide-actions>
        <template v-slot:default="{ open }">
          <div class="d-flex flex-row justify-space-between align-center">
            {{ item.title }}
            <v-icon color="white">
              <template v-if="open">mdi-minus</template>
              <template v-else>mdi-plus</template>
            </v-icon>
          </div>
        </template>
      </v-expansion-panel-header>
      <v-expansion-panel-content>
        <ul>
          <nuxt-link class="list-item" v-for="(link, index) in item.links" :key="index"
                     :to="link.link">
            {{ link.title }}
          </nuxt-link>
        </ul>
      </v-expansion-panel-content>
    </v-expansion-panel> -->
  </v-expansion-panels>
</div>
