<div style="padding: 50px;">
  <div class="hero-section">
    
    <div class="quick-access-group">
      <div style="display: flex; justify-content: space-between;">
        <div class="quick-access">   
          <img style="filter: invert(1);" src="../../assets/icon/bank-icon.svg" width="30"/>
          <div style="display: flex; justify-content: space-between; flex-direction: column; gap: 10px;">
            <p class="quick-access-text">اپلیکیشن همراه بانک صاپ</p>
            <p class="quick-access-desc" style="font-size: 14px !important;">نرم افزارهای بانک صادرات ایران</p>
          </div>
        </div>
        <div class="quick-access">
          <img style="filter: invert(1);" src="../../assets/icon/bank-icon.svg" width="30"/>
          <div style="display: flex; justify-content: space-between; flex-direction: column; gap: 10px;">
            <p class="quick-access-text">اپلیکیشن همراه بانک صاپ</p>
            <p class="quick-access-desc" style="font-size: 14px !important;">نرم افزارهای بانک صادرات ایران</p>
          </div>
        </div>
      </div>
      <div style="display: flex; justify-content: space-between;">
        <div class="quick-access">
          <img style="filter: invert(1);" src="../../assets/icon/bank-icon.svg" width="30"/>
          <div style="display: flex; justify-content: space-between; flex-direction: column; gap: 10px;">
            <p class="quick-access-text">اپلیکیشن همراه بانک صاپ</p>
            <p class="quick-access-desc" style="font-size: 14px !important;">نرم افزارهای بانک صادرات ایران</p>
          </div>
        </div>
        <div class="quick-access">
          <img style="filter: invert(1);" src="../../assets/icon/bank-icon.svg" width="30"/>
          <div style="display: flex; justify-content: space-between; flex-direction: column; gap: 10px;">
            <p class="quick-access-text">اپلیکیشن همراه بانک صاپ</p>
            <p class="quick-access-desc" style="font-size: 14px !important;">نرم افزارهای بانک صادرات ایران</p>
          </div>
      </div>
    </div>
    </div>
    <v-carousel style="border-radius: 10px; max-width: 900px;">
      <v-carousel-item
        :src="require('@/assets/slider/slider1.png')"
        cover
      ></v-carousel-item>
    
      <v-carousel-item
        :src="require('@/assets/slider/slider2.png')"
        cover
      ></v-carousel-item>
    
      <v-carousel-item
        :src="require('@/assets/slider/slider3.png')"
        cover
      ></v-carousel-item>
    </v-carousel>
  
  </div>
  <div>
    <h1 style="text-align: center; margin-top: 50px;">محصولات و خدمات</h1>
    <div style="margin-top: 20px; margin-bottom: 10px;">
      <div style="display: flex; width: 100%; gap: 10px;">
        <div class="short-access" style="background: linear-gradient(45deg, rgb(232, 156, 50) 28%, rgba(6, 55, 227, 0.7) 80%);">
          <div style="display: flex; justify-content: space-between; flex-direction: column; gap: 10px;">
            <p class="product-text">طرح ست</p>
            <p class="quick-access-desc">طرح توثیق الکترونیک بانک صادرات ایران</p>
          </div>
          <img  src="../../assets/product-icon/1.svg" width="70"/>
        </div>
        <div class="short-access" style="background: linear-gradient(280deg, rgb(232, 156, 50) 28%, rgba(6, 55, 227, 0.7) 80%);">
          <div style="display: flex; justify-content: space-between; flex-direction: column; gap: 10px;">
            <p class="product-text">طرح سپاس</p>
            <p class="quick-access-desc">طرح سپاس بانک صادرات ایران</p>
          </div>
          <img  src="../../assets/product-icon/2.svg" width="70"/>
        </div>
      </div>
      <div style="display: flex; width: 100%; gap: 10px;">
        <div class="short-access" style="background: linear-gradient(135deg, rgb(232, 156, 50) 28%, rgba(6, 55, 227, 0.7) 80%);"> 
          <div style="display: flex; justify-content: space-between; flex-direction: column; gap: 10px;">
            <p class="product-text">طرح تیمچه</p>
            <p class="quick-access-desc">تیمچه اعتبار بازار</p>
          </div>
          <img  src="../../assets/product-icon/3.svg" width="70"/>
        </div>
        <div class="short-access" style="background: linear-gradient(270deg, rgb(232, 156, 50) 28%, rgba(6, 55, 227, 0.7) 80%);">
          <div style="display: flex; justify-content: space-between; flex-direction: column; gap: 10px;">
            <p class="product-text">طرح سنا ویژه کسب و کار</p>
            <p class="quick-access-desc">طرح سنا ویژه کسب و کار</p>
          </div>
          <img  src="../../assets/product-icon/4.svg" width="70"/>
        </div>
      </div>
    </div>
  </div>
  <div style="padding: 50px;">
    <div style="display: flex; justify-content: center; gap: 10px;">
      <div class="news-column">
        <div style="display: flex; justify-content: space-between;">
          <span>آخرین اخبار</span>
          <span style="color: blue;">مشاهده همه</span>
        </div>
  
        <div style="display: flex; align-items: center; justify-content: space-between; cursor: pointer; gap: 5px;">
          <img width="120px" style="border-radius: 10px;" src="../../assets/slider/slider1.png"/>
          <div style="display: flex; flex-direction: column;">
            <span style="font-size: 14px; font-weight: bold;">وام با سپرده‌گذاری در بانک صادرات</span>
            <span style="font-size: 12px;">با شروع فصل جدید، مدیرعامل بانک صادرات از ارائه تسهیلات ویژه به سپرده‌گذاران خبر داد.</span>
          </div>
        </div>
        <div style="display: flex; align-items: center; justify-content: space-between; cursor: pointer; gap: 5px;">
          <img width="120px" style="border-radius: 10px;" src="../../assets/slider/slider3.png"/>
          <div style="display: flex; flex-direction: column;">
            <span style="font-size: 14px; font-weight: bold;">ارتقاء خدمات آنلاین بانک ملت</span>
            <span style="font-size: 12px;">بانک ملت با راه‌اندازی نسخه جدید اپلیکیشن خود، خدمات آنلاین را بهبود بخشیده است.</span>
          </div>
        </div>
        <div style="display: flex; align-items: center; justify-content: space-between; cursor: pointer; gap: 5px;">
          <img width="120px" style="border-radius: 10px;" src="../../assets/slider/slider1.png"/>
          <div style="display: flex; flex-direction: column;">
            <span style="font-size: 14px; font-weight: bold;">طرح جدید کارت‌های اعتباری</span>
            <span style="font-size: 12px;">بانک ملی ایران با ارائه طرح جدید کارت‌های اعتباری، مشتریان را در خریدهای روزمره یاری می‌کند.</span>
          </div>
        </div>
        <div style="display: flex; align-items: center; justify-content: space-between; cursor: pointer; gap: 5px;">
          <img width="120px" style="border-radius: 10px;" src="../../assets/slider/slider2.png"/>
          <div style="display: flex; flex-direction: column;">
            <span style="font-size: 14px; font-weight: bold;">دوره‌های آموزشی بانکداری دیجیتال</span>
            <span style="font-size: 12px;">بانک صادرات در راستای ارتقاء دانش مالی مشتریان، دوره‌های آموزشی آنلاین بانکداری دیجیتال برگزار می‌کند.</span>
          </div>
        </div>
  
      </div>
      <div class="news-column">
        <div style="display: flex; justify-content: space-between;">
          <span>تازه‌ها</span>
          <span style="color: blue;">مشاهده همه</span>
        </div>
        <div style="display: flex; align-items: center; justify-content: space-between; cursor: pointer; gap: 5px;">
          <div style="display: flex; flex-direction: column;">
            <span style="font-size: 14px; font-weight: bold;">بانکداری موبایلی در ایران</span>
            <span style="font-size: 12px;">مشتریان بانک‌ها اکنون می‌توانند تمامی خدمات بانکی خود را از طریق اپلیکیشن‌های موبایل انجام دهند.</span>
          </div>
        </div>
        <div style="display: flex; align-items: center; justify-content: space-between; cursor: pointer; gap: 5px;">
          
          <div style="display: flex; flex-direction: column;">
            <span style="font-size: 14px; font-weight: bold;">آغاز طرح‌های حمایتی بانکی</span>
            <span style="font-size: 12px;">بانک‌ها برای حمایت از کسب‌وکارهای کوچک، طرح‌های وام ویژه برای آن‌ها ارائه می‌دهند.</span>
          </div>
        </div>
        <div style="display: flex; align-items: center; justify-content: space-between; cursor: pointer; gap: 5px;">
          
          <div style="display: flex; flex-direction: column;">
            <span style="font-size: 14px; font-weight: bold;">بانکداری مبتنی بر بلاک‌چین</span>
            <span style="font-size: 12px;">بانک‌های ایرانی در حال پیاده‌سازی سیستم‌های مبتنی بر بلاک‌چین برای شفافیت بیشتر تراکنش‌ها هستند.</span>
          </div>
        </div>
        <div style="display: flex; align-items: center; justify-content: space-between; cursor: pointer; gap: 5px;">
          
          <div style="display: flex; flex-direction: column;">
            <span style="font-size: 14px; font-weight: bold;">سیستم‌های پرداخت سریع</span>
            <span style="font-size: 12px;">بانک‌ها در حال ارائه خدمات پرداخت سریع بین‌بانکی برای تسهیل تراکنش‌های مالی هستند.</span>
          </div>
        </div>
  
      </div>
      <div class="news-column">
        <div style="display: flex; justify-content: space-between;">
          <span>دسترسی سریع</span>
          <span style="color: blue;">مشاهده همه</span>
        </div> 
        <div style="display: flex; align-items: center; justify-content: space-between; cursor: pointer; gap: 5px;">
          
          <div style="display: flex; flex-direction: column;">
            <span style="font-size: 14px; font-weight: bold;">امکانات جدید بانکداری دیجیتال</span>
            <span style="font-size: 12px;">با ورود به بانکداری دیجیتال، می‌توانید تمامی امور بانکی را به‌راحتی از منزل انجام دهید.</span>
          </div>
        </div>
        <div style="display: flex; align-items: center; justify-content: space-between; cursor: pointer; gap: 5px;">
          
          <div style="display: flex; flex-direction: column;">
            <span style="font-size: 14px; font-weight: bold;">کارت‌های اعتباری بدون ضامن</span>
            <span style="font-size: 12px;">بانک‌ها حالا کارت‌های اعتباری بدون نیاز به ضامن و با شرایط آسان‌تر ارائه می‌دهند.</span>
          </div>
        </div>
        <div style="display: flex; align-items: center; justify-content: space-between; cursor: pointer; gap: 5px;">
          
          <div style="display: flex; flex-direction: column;">
            <span style="font-size: 14px; font-weight: bold;">وام‌های قرض‌الحسنه بانک‌های ایرانی</span>
            <span style="font-size: 12px;">بانک‌های ایرانی تسهیلات قرض‌الحسنه برای ازدواج و خرید مسکن ارائه می‌دهند.</span>
          </div>
        </div>
        <div style="display: flex; align-items: center; justify-content: space-between; cursor: pointer; gap: 5px;">
          
          <div style="display: flex; flex-direction: column;">
            <span style="font-size: 14px; font-weight: bold;">خدمات بانکداری همراه</span>
            <span style="font-size: 12px;">با استفاده از بانکداری همراه، می‌توانید تراکنش‌ها و پرداخت‌های خود را به‌صورت آنلاین انجام دهید.</span>
          </div>
        </div>
  
      </div>
    </div>
  </div>
  
</div>