<div class="d-flex flex-column justify-start align-stretch MessagePage">
  <h2 style="text-align: right;margin-right: 30px;">اختلالات موقتی</h2>
  <br>
  <div style="width: 90%;height: 10px;background-color: rgb(119, 5, 5);margin-right: 30px;"></div>
  <div v-for="(item, index) in GozareshEkhtelal" :key="index">
    <h2>{{item.Title}}</h2>
    <br>
    <br>
    <br>
    <p>{{item.Description}}</p>
  </div>
  <br>
  <br>
  <br>
  <div v-for="(item, index) in GozareshEkhtelalSubTitle" :key="index">
    <p style="text-align: center;line-height: 70px;">{{item}}</p>
  </div>
</div>